@import "@/styles/_variables.scss";

.ds-sidebar {
  display: grid;
  grid-template-columns: 240px;
  min-height: calc(100vh - 48px);
  height: max-content;
  width: 240px;
  border-right: 1px solid $gray-300;
  background-color: $gray-25;
  position: fixed;
  left: 0;
  top: 48px;
}
