@import "@/styles/variables.scss";

.ds-canva {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  background-color: $white;
  border: 1px solid $gray-100;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 24px 86px 0 rgb(70, 84, 103, 0),
    0 22px 55px 0 rgb(70, 84, 103, 0.01), 0 19px 31px 0 rgb(70, 84, 103, 0.05),
    0 14px 14px 0 rgb(70, 84, 103, 0.09), 0 8px 3px 0 rgb(70, 84, 103, 0.1);
}
