@import "@/styles/variables.scss";

.ds-navbar {
  background-color: $gray-25;
  height: 49px;
  border-bottom: 1px solid $gray-300;
  padding: 8px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 14px;
  z-index: 99;
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
