@import "@/styles/variables.scss";

.ds-navbar {
  width: 100%;
  background-color: $gray-50;
  height: 61px;
  border-bottom: 1px solid $gray-300;
  padding: 14px;
  position: fixed;
  top: 0;
  z-index: 99;
  &__container {
    width: 1038px;
    max-width: calc(100% - 72px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
