@import "@/styles/variables.scss";

.ds-canva-renderer {
  &:hover {
    cursor: pointer;
  }
  height: 100%;
  width: max-content;
  background: transparent;
  z-index: 999;
  position: relative;
  &--selectable {
    outline: 1px solid #1791ea;
  }
}
