@import "@/styles/variables.scss";

.ds-canva-renderer {
  &:hover {
    cursor: pointer;
  }
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 999;
  position: relative;
  &-dropzone {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    // background-color: aqua;
    // z-index: 99;
  }
}
