// gray scale
$gray-25: #fcfcfd;
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1d2939;
$gray-900: #101828;

// indigo scale
$in-25: #0a245f;
$in-50: #eef4ff;
$in-100: #e0eaff;
$in-200: #c7d7fe;
$in-300: #a4bcfd;
$in-400: #8098f9;
$in-500: #6172f3;
$in-600: #444ce7;
$in-700: #3538cd;
$in-800: #2d31a6;
$in-800: #2d3282;

$primary: #6172f3;
$secondary: #f361bb;
$teriary: #f3e261;

$white: #fff;
